.container {
	padding-top: 50px;
}

#button {
	cursor: pointer;
	margin-bottom: 20px;
	border: 0;
}

#button span {
	position: relative;
	transition: 0.2s;
}

#button span:after {
	content: "\027A6";
	font-weight: 900;
	position: absolute;
	top: 0px;
	opacity: 0;
	right: -4px;
	transform: rotate(90deg) scaleY(2);
}

#button:hover span {
	padding-right: 27px;
}

#button:hover span:after {
	transition: 0.2s;
	right: -8px;
	opacity: 1;
}

.btn-primary:focusin {
    box-shadow: none;
	background-color: #337ab7;
}

.list-group {
	padding-left: 10px;
}