

.container {
	padding-top: 50px;
}

#form {
	margin-top: 30px;
	margin-bottom: 40px;
}

#box {
	margin-bottom: 30px;
} 

#pole::placeholder {
	font-size: 15px;
	opacity: 0.6;
}

input.warning, input.warning:focus {
	border: 1px solid #e0a606;
}

input.warning::placeholder {
	color: #e0a606;
	opacity: 0.6;
}

/*i.warning {
	color: #f77811;
	opacity: 0.7;
	font-size: 12px;
    content: "\e107";
	position: absolute;
	top: 10px;
	left: 10px;
}*/

/*input#pole:focus::placeholder {
	color: transparent;
}*/

#button {
	cursor: pointer;
}

#button:hover {
	box-shadow: 0 0 0 3px #fff,
				0 0 0 4px #51a5ff;
}

.btn-primary:focus {
    box-shadow: none;
}